.navbar-justify-between{
    justify-content: space-between !important;
}
.navbar-dropdown-margin-left{
    margin-left: 52px !important;
}
.navbar-dropdown-margin-top{
    margin-top: 11px !important;
}
.navbar-dropdown-margin-right{
    margin-right: 51px !important;
}